/* common styles */
body {
    font-family: 'Lato', sans-serif;
}

/* header related styles */
.header {
    background: rgba(229, 84, 115, 0.10);
}

/* banner related styles */
.banner {
    padding: 30px 100px 0px 200px;
    display: flex;
    align-items: center;
}

.banner-title {
    color: #272727;
    font-size: 67px;
    font-weight: 800;
    margin-bottom: 0px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 30px;
}

.btn-primary {
    color: #FFFFFF;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 20px 40px;
}

.banner .profile-pic {
    width: 550px;
    margin-left: 120px;
}

/* main related styles */
main {
    max-width: 1920px;
}

.about {
    max-width: 500px;
    margin: 0px auto;
}

.section-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-top: 170px;
    margin-bottom: 0px;
    text-align: center;
}

.section-details {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 45px;
    line-height: 30px;
}

/* img related styles  */
.flower-image-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 0px;
}

.image-a {
    padding: 110px 70px 0px 75px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(205, 85, 155, 0.222);
    width: 200px;
}

.image-b {
    padding: 110px 70px 76px 75px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(57, 184, 191, 0.216);
    width: 200px;
}

.image-c {
    padding: 86px 70px 0px 75px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(110, 201, 71, 0.271);
    width: 200px;
}

.image-caption {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.offer-part {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 120px;
    align-items: center;
    padding: 80px 50px 80px 300px;
}

.offer-description {
    max-width: 35%;
    padding-right: 200px;
}

.offer-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

span {
    color: #E55473;
}

.offer-details {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.o-btn {
    color: #FFFFFF;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 17px 33px;
}

.btn-o {
    padding-left: 35%;
}

.offer-img {
    width: 260px;
}

.about-shop {
    max-width: 400px;
    margin: 0px auto;
}

.shop-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-top: 170px;
    margin-bottom: 0px;
    text-align: center;
}

.shop-details {
    color: rgba(14, 6, 6, 0.641);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 30px;
}

.shop-image {
    display: flex;
    gap: 45px;
    width: 30%;
    margin: 0px auto;
    align-items: center;
    padding: 50px;
    border-radius: 15px;
    background-color: rgba(127, 255, 212, 0.351);
}

.img {
    max-width: 200px;
}

.media-section {
    max-width: 500px;
    margin: 0px auto;
}

.media-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-top: 130px;
    margin-bottom: 0px;
    text-align: center;
}

.media-details {
    color: rgba(14, 6, 6, 0.641);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 30px;
}

.midea-image {
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}

.m-img-a {
    width: 270px;
    padding-left: 24px;
}

.m-footer {
    padding-left: 40px;
    max-width: 1145px;
    margin: 0px auto;
    background-image: url("../images/Rectangle\ 9.png");
}

.m-foot {
    max-width: 500px;
    margin: 0px auto;
}

.inpt-a {
    max-width: 600px;
    margin: 0px auto;
    padding-bottom: 100px;
}

.m-footer-title {
    text-align: center;
    padding-top: 100px;
    color: #272727;
    font-size: 30px;
    font-weight: 800px;
    margin-bottom: 0px;
}

.m-footer-details {
    text-align: center;
    margin-top: 10px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.inpt {
    height: 40px;
    width: 450px;
    padding-right: 10px;
}

.f-btn {
    color: #FFFFFF;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 14px 25px;
}

/* footer related styles */
.footer {
    margin-top: 125px;
    background-color: #000000;
}

.f-start {
    max-width: 600px;
    margin: 0px auto;
    padding: 100px 0px;
}

.footer-title {
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 0px;
}

.footer-details {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.f-finish {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}